<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-light-emphasis txt"
      >&copy; CashIt 2025 All Rights Reserved</span
    >
  </div>
</footer>

<style>
  .footer {
    background: linear-gradient(to right, #ee91b0, #ffffff);
  }
  .container {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .txt {
    text-align: center;
    align-items: center;
  }

</style>
