<div class="footer py-3 mt-auto border-bottom border-body">
  <div class="container-fluid" style="text-align: center">
    <span class="text-light-emphasis"
      >&copy; AuraSkin 2025 All Rights Reserved</span
    >
  </div>
</div>

<style>
  .footer {
    background-color: rgba(230, 6, 129, 0.74);
  }
</style>
